doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title= title
    
    base(href="/")
    
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.1/paper/bootstrap.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.1/animate.css')
    link(rel='stylesheet', href='/assets/css/style.css')
  
  body(ng-app="judgeApp", ng-controller="mainController as main")
    block navbar
    
    block content
    
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.js')
    
    script(src='/app/controllers/mainCtrl.js')
    script(src='/app/controllers/userCtrl.js')
    
    script(src='/app/services/authService.js')
    script(src='/app/services/userService.js')
    
    script(src='app/app.routes.js')
    script(src='app/app.js')