extends layout
	
block navbar
	header
		.navbar.navbar-inverse(ng-if="main.loggedIn")
			.container
				.navbar-header
					a.navbar-brand(href="/") <span class="glyphicon glyphicon-fire text-danger"></span> UserCRM
				ul.nav.navbar-nav
					li
						a(href="/users") <span class="glyphicon glyphicon-user"></span> Users
				ul.nav.navbar-nav.navbar-right
					li.navbar-text(ng-if="main.loggedIn") Hello {{ main.user.name }}!
					li(ng-if="main.loggedIn")
						a(href="#" ng-click="main.doLogout()") Logout
	
	
block content