main {
  padding-top: 30px;
}

.btn {
  margin-left:2px;
  margin-right:2px;
}

.show-hide-message.ng-hide-remove {
  -webkit-animation: zoomIn 0.3s both ease;
  -moz-animation: zoomIn 0.3s both ease;
  animation: zoomIn 0.3s both ease;
}

.spinner {
  -webkit-animation: spin 1s infinite;
  -moz-animation: spin 1s infinite;
  animation: spin 1s infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}