.row.col-sm-6.col-sm-offset-3
	.jumbotron
		h1 Login
		
		form(ng-submit="login.doLogin()")
			.form-group
				label Username
				input.form-control(type="text", ng-model="login.loginData.username")
			.form-group
				label Password
				input.form-control(type="password", ng-model="login.loginData.password")
			div.alert.alert-danger(ng-if="login.error") {{ login.error }}
			button.btn.btn-block.btn-primary(type="submit")
				span(ng-if="!login.processing") Login
				span.spinner(ng-if="login.processing") <span class="glyphicon glyphicon-repeat"></span>
