.page-header
	h1(ng-if="user.type == 'create'") Create User
	h1(ng-if="user.type == 'edit'") Edit User
	
form.form-horizontal(ng-submit="user.saveUser()")
	.form-group
		label.col-sm-2.control-label Name
		.col-sm-6
			input.form-control(type="text", ng-model="user.userData.name")
			
	.form-group
		label.col-sm-2.control-label Username
		.col-sm-6
			input.form-control(type="text", ng-model="user.userData.username")
			
	.form-group
		label.col-sm-2.control-label Password
		.col-sm-6
			input.form-control(type="password", ng-model="user.userData.password")
			
	.form-group
		.col-sm-offset-2.col-sm-6
			button.btn.btn-success.btn-lg.btn-block(type="submit", ng-if="user.type == 'create'") Create User
			button.btn.btn-success.btn-lg.btn-block(type="submit", ng-if="user.type == 'edit'") Update User
			
.row.show-hide-message(ng-show="user.message")
	.col-sm-6.col-sm-offset-2
		.alert.alert-info {{ user.message }}
	